<%= form_with(model: @question, url: [@course, @question], class: "contents") do |f| %>
<%= form_error_notification(question) %>

  <div class="my-5">
    <%= f.text_field :title, placeholder:"Posez une question bien precisé", class: "block border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= f.submit "envoyer", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
