<!-- component -->
<div id="<%= dom_id question %>" class="flex h-screen antialiased text-gray-800">
    <% @title= question.title %>
    <div class="flex flex-row h-full w-full overflow-x-hidden">
        <div class="flex flex-col flex-auto h-full p-6">
            <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
                <!-- question title-->
                <h1 class="text-black font-semibold"> <%= question.title %></h1>
                <div class="flex flex-col h-full overflow-x-auto mb-4">
                    <div class="flex flex-col h-full">
                        <div class="grid grid-cols-12 gap-y-2">
                            <%#= render "questions/shared/anwser" %>                    
                        </div>
                    </div>
                </div>
				<!-- Form -->
                <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-1">
                <%#= render "anwsers/form" %>
                </div>
            </div>
        </div>
    </div>


