<div class="flex dropdown dropdown-hover">
    <label tabindex="0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
        </svg>
    </label>
    <ul tabindex="0" class="dropdown-content menu p-2  bg-base-100 rounded-box">
        <%= turbo_frame_tag dom_id(answer, 'actions'),
                     src: question_answer_actions_path(answer.question, answer) %>
    </ul>
</div>
