
<div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-1">
	<%= form_with(model: @anwser, url: [@question, @anwser], class: "") do |f| %>
		<div class="flex-grow">
			<div class="relative w-full">
				<!-- Input-->
				<%= f.text_field :content, class:"flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10", placeholder:"votre message"  %>
				
			</div>
		</div>
		<div class="ml-1 ">
			<%= f.submit  class:"flex items-center justify-center bg-blue-600 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0" do %>
				<span class="mx-1">
					<svg class="w-4 h-4 transform rotate-90 hover:rotate-45 -mt-px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
					</svg>
				</span>
			<% end %>
		</div>
	<% end %>
</div>