<%= turbo_frame_tag dom_id(@answer, 'actions') do %>
    <div class="flex mx-2">
        <div class="flex justify-between ">
            <% if @answer.question.user_id == current_user&.id %>
                <% label = @answer.correct_answer ? "Remove Correct" : "Mark as Correct" %>
                <div class="">
                    <%= link_to label, question_answer_correct_path(@answer.question, @answer) %>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
